:root{ --bs-dark-rgb: 44,62,88; /* Colore sfondo NAV */
    
       --bs-success-rgb: 26, 188, 156 /* Colore sfondo Hero */
}

.my-star { display: flex;
           justify-content: center;
           align-items: center;}


.line { width: 75px;
        height: 2px;
        background-color: white;}

.star { padding: 0 15px;}


.star .white-star{ fill:white;}

.star .dark-star { fill: rgb(44, 62, 80);}


.line.dark {background-color: rgb(44, 62, 80);}


          

.black { background-color: black;
        text-align: center;
        min-height: 50px;
        
        }
.form-control { border:0px;}
.group-input  { border-bottom: 1px solid grey;}

#footer-link { text-decoration: none;
                color: rgb(26, 188, 156);}

.network li i {
               width: 35px;
               height: 35px;
               line-height: 35px;
                    }

/* Hover su immagini */

.contein { position: relative;
           }

.contein .overlay { position: absolute;
                    height: 100%;
                    top:0;
                    left:0;
                    background-color: rgba(0,0,0,0.5);
                    border-radius: 7px;
                    color:white;
                    padding-top:20px;
                    animation: elevator 0.3s; 
                    display: none;
                }

.contein:hover  .overlay { display: block; }
                      


@keyframes elevator {

0% { top:100%;}
25% { top:75%;}
50% { top:50%;}
75% {top:25%;}
100%{top:0%;}




}



/* per attivare il menù in modalità mobile */

.hamburger>.btn:active  +.list-inline { display: block!important; } 


/* hover sui social  */
.facebook:hover { color:blue;}

.plus:hover { color:red;}

.twitter:hover { color:yellowgreen}

.in:hover { color:brown}