:root{ --bs-dark-rgb: 44,62,88; /* Colore sfondo NAV */
    
       --bs-success-rgb: 26, 188, 156 /* Colore sfondo Hero */
}

.my-star { display: flex;
           justify-content: center;
           align-items: center;}


.line { width: 75px;
        height: 2px;
        background-color: white;}

.star { padding: 0 15px;}


.star .white-star{ fill:white;}

.star .dark-star { fill: rgb(44, 62, 80);}


.line.dark {background-color: rgb(44, 62, 80);}

.my-box { height: 200px;
         ;

          border: 1px solid red;}


